.gameslobby
  > .list_item
    display flex
    padding 0
    width 100%

    > *
      padding-top 15px
      padding-bottom 15px

    > .icon
      padding-left 10px
      padding-right 10px
      display flex
      align-items center

    > .type.icon
      padding-left 15px
      padding-right 0
      font-size 150%

    > .username
      flex 1;
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

    > .rating
      min-width 3.2em
      text-align end

    > .hook-clock
      min-width 4em
      text-align end

    > .icon.rated.hidden
      visibility hidden
